{% extends 'inicio.html' %}

{% block contenido %}

<br>
<br>

<div class="container">

<p><h4>{{fantasia.titulo}}</h4></p>
{% if fantasia.imagenFantasia %}
    <p><img src="{{fantasia.imagenFantasia.url}}" alt=""></p>
{% endif %}
<p>autor: {{fantasia.marca}}</p>
<p>Descripción: {{fantasia.descripcion}}</p>
<p>Año: {{fantasia.year}}</p>
<p>Teléfono de Contacto: {{fantasia.telefonoContacto}}</p>
<p>Email de Contacto: {{fantasia.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not fantasia.comentarios.all %}
        No han comentado este libro
    {% else %}
        {% for comentario in fantasia.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' fantasia.pk %}">Agrega un Comentario</a>
    </div>
</div>

{% endblock %}