{% extends "base.html" %}

{% block contenido%}

<div class="container">
  <div class="row justify-content-sm-center">
      <div class="p-3 col-sm-auto">
          <h2 style="color: rgba(4, 20, 160, 0.5);">Tu biblioteca - Reseñas</h2>
      </div>
  </div>
</div>
<h1 </h1>

</section>


<!-- Link Venta/Permuta libros -->

<section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
      <div class="">
          <div class="text-center">
              <p class="lead my-4">
                Quieres comentar algo sobre el libro que estas leyendo?
              </p>
              <a href="{% url 'nuevo' %}"><button type="submit" class="btn btn-primary">Agregalo acá</button></a>
          </div>
      </div>
  </div>
</section>

    

{% endblock %}